* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #3C4043;
  background-color: #F1F3F4;
  text-align: center;
}
